body{
    margin: 0;
    background-color: #000000;
}
.header{
    width: 1100;
    height: 350px;
    margin: auto;
}
h1 {
    font-size: 40px;
  }

 p1 {
     font-size: 20px;
 }
 p2 {
     font-size: 20px;
 }
 p3 {
    font-size: 20px;
}
p4 {
    font-size: 20px;
}
p5 {
    font-size: 20px;
}

p6 {
    font-size: 20px;
}

p7 {
    font-size: 20px;
}

p8 {
    font-size: 20px;
}

p9 {
    font-size: 20px;
}

p10 {
    font-size: 20px;
}

